:root {
  --background-primary: #0c2b73;
  --background-secondary: #1c4ec1;
  --background-thirdly: #000000;
  --background-disabled: #e8d4d4;
  --background-input: #f4f4f4;

  --text-primary: #ffffff;
  --text-secondary: #ffeb14;
  --text-header: #e3dbdb;
  --text-input: #000000;

  --border-primary: var(--text-header);
}

body {
  background: var(--background-primary);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
